<div class="jumbotron center">
	<h1>等你好久了</h1>
	<% if user_signed_in? %>
		#do something
	<% else %>
	<p>
		<%= link_to "登陆", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "注册", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
  <% end %>
</div>
